@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif;
}

/* Стили header____________________________________________________________________*/
.header {
    min-width: 1000px;
    width: 100%;
    border-bottom: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    background-image: url(img/top_header_bg.png);
    margin: 0 auto;
    height: 78px;
    text-align: center;
    padding-top: 1px;
}

.header .selected {
    color: #000;
}

.header img {
    float: left;
    height: 100%;
}


.header .logo{
    width: auto;
    float: left;
    height: 80%;
    padding-left: 20px;
    padding-top: 5px;
}

nav {
    font-family: monospace;
}

.header ul {
    display: flex; 
    float: right;
    height: 10%;
    padding-left: 50px;
    padding-top: 1px;
    padding-inline-start: 0px;
    /*background: rgb(145, 151, 155);*/
    list-style: none;
    margin: 0;
}

.header h1 {
    text-align: center;
    color: #242424;
    font-size: 30px;
    font-family: URW Chancery L, cursive;
}


.header li {
    color: #fff;
    /*background: rgb(145, 151, 155);*/
    display: block;
    float: left;
    padding: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
 
.header li a {
    /*background: rgb(145, 151, 155);*/
    color: #294881;
    font-size: 25px;
    font-family: URW Chancery L, cursive;
    font-weight: 80;
    text-align: center;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: block;
    padding-right: 40px;
}

.header li a:hover  {
    color: #242424;
    font-size: 27px;
    font-weight: 100;
}

.header ul li ul {
    /*background: orange;*/
    float: right;
    visibility: hidden;
  opacity: 0;
  min-width: 5rem;
    position: absolute;
  transition: all 0.5s ease;
  /*margin-top: 1rem;*/
  right: 0;
  display: none;
}

.header ul li ul li {
    color: #fff;
    /*background: rgb(145, 151, 155);*/
    display: block;
    float: right;
    right: 0;
    padding: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    transition-duration: 0.5s;
}
 
.header ul li ul li a {
    background: rgb(177, 215, 240);
    color: #4ea6da;
    font-size: 25px;
    font-family: URW Chancery L, cursive;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    display: block;
    padding-right: 40px;
}
 
.header ul li ul li:hover {
    background: rgb(185, 211, 156);
    cursor: pointer;
}

.header ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
 

.header ul li ul li {
  clear: both;
  width: 100%;
}

/*___________________________________Стили header*/

.center {
    /*width: 1300px;*/
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.content {
    /*min-width: 1300px;*/
    min-width: 1000px;
    width: 100%;
    margin: 0 auto;
    min-height: calc(100vh - 140px); 
}

.content .box_text {
    width: 100%;
    background-color: #ffffff;
    /*float: right;*/
    padding: 49px 48px 51px 76px;
    margin-bottom: 100px;
}

.content .box_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 31px;
}

.content .box_text a  {
    color: #40678a;
    font-size: 24px;
    font-weight: 80;
    text-align: center;
    text-decoration: none;
    padding-right:30px;
    font-family: cursive;
}

.content .box_text a:hover  {
    color: #33526d;
    font-weight: 100;
    font-family: cursive;
}

.content .media {
    margin-right: 0;
}

.content .box {
    background-color: #ffffff;
    width: 1238px;
    min-height: 500px;
    margin: 50px auto 0 auto;
    padding-top: 37px;
    padding-left: 38px;
    padding-bottom: 100px;
}

.content .box p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-top: 37px;
    margin-bottom: 30px;
}

.content .box input {
    border: 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 457px;
    height: 34px;
    padding-left:10px;
    font-size:20px;
    font-weight: 100;
    margin-bottom: 12px;
}

.content .box a {
    display: block;
    float: left;
    background-color:  #8cbbd3;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    padding:11px 51px;
}

.content .box a:hover {
    background-color: #5ba1d3;
}

/*Стили контейнеров____________________*/
/*Возможно много лишнего, но пока оставил как есть*/

.container_1 {
    width: 60%;
    height: 300px;
    padding: 15px;
    margin: 0 auto;
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
  }

  .container {
    width: 100%;
    height: 200px;
    padding: 15px;
    margin: 0 auto;
    overflow-x: scroll;
    white-space:nowrap;
    /*white-space: nowrap;*/
  }

  .container img {
    width: auto;
    height :100%;
    display: inline-block;
    overflow-x: scroll;
    white-space:nowrap;
    vertical-align: top;
}

.col-1-2 {
    width: 50%;
    float: left;
}

.col-1-3 {
    width: 33%;
    float: left;
}

.col-2-3 {
  width: 67%;
  float: left;
}

.container_1_3 {
    width: 30%;
    height: 300px;
    padding: 30px;
    float: left;
    white-space: nowrap; 
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
}

.container_1_3 img {
    width: 100%;
    height :auto;
    /*display: inline-block;*/
}

  .container_2_3 {
    width: 53%;
    height: 550px;
    padding: 30px;
    float: left;
    /*overflow-x: scroll;*/
    /*white-space: nowrap;*/
  }

.container_bar{
    width: 100%;
    height :600px;
    display: inline-block;
    overflow-x: scroll;
    white-space:nowrap;
    vertical-align: top;
}

/*___________________________________Стили контейнеров*/

/* Стили catalog________________________________*/
.catalog {
    font-style: italic;
    color: #484343;
    font-size: 25px;
    list-style-type: none;
}

.catalog_h1{
    text-align: center;
    color: #000000;
    background-color: #eaeaea;
    font-size: 18px;
}

.catalog h2 {
    color: #3a5b97;
    background-color: #eaeaea;
    font-size: 18px;
}

.catalog_description {
    color: #707070;
    font-style: italic;
    font-size: 14px;
    line-height: 16px;
}

.catalog_detail {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.catalog a {
    color: #3a5b97;
    font-size: 20px;
}

.catalog a:hover  {
    color: #242424;
    font-size: 20px;
    font-weight: 100;
}

.contacts_input {
     size: 150px;
}
/* ________________________________Стили catalog*/

/* Стили header________________________________*/


.footer { /* # == id */
    background-color: #434445;
    width: 100%;
    min-width: 1000px;
    float: left;
    height: 140px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 140px;
}

.footer a {
    color: inherit;
}

.footer p {
    width: auto;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

/* ________________________________Стили header*/


/* Стили кнопки с градиентом___________________*/

a.button2, a.button2:before {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 100px;
    border: solid rgb(4,88,192);
    border-width: 3px 10px;
    outline: none;
    opacity: 1;
    transition: .6s, opacity 0s 9999999s, visibility 0s 9999999s;
  } 
  a.button2 {
    position: relative;
    padding: calc(8px + 3px - 1px) calc(15px + 10px - 1px);
    border: 1px solid rgba(62,153,239,.5);
    background: linear-gradient(to left, rgb(62,153,239) 1%, #fff 3%, rgb(44,135,232) 8%,rgb(44,135,232) 92%, #fff 97%, rgb(62,153,239) 99%) no-repeat;
  /* rgba(255,255,255,.3) 50%,*/
}
  a.button2:before {
    /*content:  "УЗНАТЬ ПОДРОБНОСТИ";*/
    position:  absolute; 
    bottom: -7px;
    left: -1px;
    width: calc(100% - (15px + 10px - 1px)*2);
    background: #fff linear-gradient(rgb(58,160,253), rgb(4,88,192) 60%, rgb(49,112,201));
    box-shadow: 0 10px 18px rgba(0,0,0,.5);
  }
  a.button2:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  a.button2:hover:before {
    border-color: #0766d8;
    background: #fff linear-gradient(#3fadff, #0766d8 60%, #3279dd);
  }
  a.button2:focus,
  a.button2:active {
    /*-webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    opacity: 0;
    visibility: hidden;
    transition: .4s;*/
    visibility: hidden;
    background: linear-gradient(to left, rgb(52, 129, 207) 1%, #fff 3%, rgb(15, 45, 78) 8%,rgba(7, 51, 148, 0.3) 40%,rgba(7, 51, 148, 0.3) 60%,rgb(17, 52, 90) 92%, #fff 97%, rgb(62,153,239) 99%) no-repeat;
  }

  /*___________________ Стили кнопки с градиентом*/
  